body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ff6600;
    font-size: 28px;
}

header p {
    font-style: italic;
    color: #777;
}

button {
    border-radius: 20px;
    font-size: 14px;
    padding: 5px 15px;
}

img {
    border: 1px solid #ddd;
    padding: 5px;
    background-color: #fff;
}

.border {
    border-color: #ddd !important;
}
